h1 {
    font-size: 3em;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    color: #f46e00;
    font-family: 'Pokemon Solid', cursive;
}
.container {
    font-family: 'Pokemon Solid', cursive;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 10px auto 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: black;
    max-width: 550px;
}

.poke-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 10px auto;
}

.poke-search {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f46e00;
    color: white;
    font-weight: 600;
    font-family: 'Pokemon Solid', sans-serif; /* Pokemon font style */
    border: 3px solid #b34700;
    box-shadow: 0 4px #b34700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.1s ease-in-out;
}

.poke-search:active {
    box-shadow: none;
    transform: translateY(4px);
}
.poke-search:focus {
    outline: none;
}

.poke-div {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 95%;
    height: 60vh;
    padding: 15px;
    background-color: #e1e1e1;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

#name-id {
    font-size: 2em;
}

.poke-sprite {
    align-self: center;
    flex-grow: 1;
    max-width: 100%;
    height: auto;
}

.types {
    display: flex;
}

.type {
    margin: 5px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: 500;
}

.poke-stats {
    background-color: #e1e1e1;
    width: 95%;
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.poke-stats p {
    font-weight: 500;
    background-color:  #f46e00;
    border: 3px solid #b34700;
    box-shadow: 0 4px #b34700;
    text-align: center;
    border-radius: 5px;
    color: #000;
    margin: 0;
}

.poke-stats .stat-title {
    font-weight: 600;
    text-transform: uppercase;
}

.type-fire {
    background-color: #f08030;
}

.type-water {
    background-color: #6890f0;
}

.type-grass {
    background-color: #78c850;
}

.type-electric {
    background-color: #f8d030;
}

.type-psychic {
    background-color: #f85888;
}

.type-ice {
    background-color: #98d8d8;
}

.type-dragon {
    background-color: #7038f8;
}

.type-dark {
    background-color: #705848;
}

.type-fairy {
    background-color: #ee99ac;
}

.type-normal {
    background-color: #a8a878;
}

.type-fighting {
    background-color: #c03028;
}

.type-flying {
    background-color: #a890f0;
}

.type-poison {
    background-color: #a040a0;
}

.type-ground {
    background-color: #e0c068;
}

.type-rock {
    background-color: #b8a038;
}

.type-bug {
    background-color: #a8b820;
}

.type-ghost {
    background-color: #705898;
}

.type-steel {
    background-color: #b8b8d0;
}

.type-unknown {
    background-color: #68a090;
}