.portfolio-item-individual {
    margin-top: 10vh;
}

.image-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.titles {
    padding-left: 5%;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    .titles {
        padding-left: 0;
    }
}