:root {
    --background: #1e1e1e;
    --primary: #2d2d2d86;
    --secondary: #858585;
    --accent: rgb(255, 111, 0);
    --text-color: #ffffff;
}
.nav {
    background-color: #1e1e1e;
}
*{
    margin: 0;
    padding: 0;
}

p {
    color: var(--text-color);
}

#todo {
    margin: auto;
    width: 700px;
    max-width: 100%;
    background-color: #0f0f0f;
    font-size: 16pt;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
    margin-bottom: 30px;
}

#body {
    color: black;
    min-height: 100vh;
    background-color: var(--background);
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, rgb(180, 42, 42), orange);
    background-clip: text;
    color: transparent;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#todo-input:focus {
    outline: none;
}

.custom-checkbox:focus {
    outline: 2px;
}



form{
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left, red, orange);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    height: auto; 
    word-wrap: break-word; /* Wrap long words to the next line */
    word-break: break-all; /* Break long words if necessary */
    white-space: normal;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: 200ms;
}

.delete-button:hover svg {
    fill: #ff0033;
}

.custom-checkbox {
    border: 2px solid var(--accent);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 250ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary);
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary);
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 500px){
    html{
        font-size: 12pt;    
    }


    #todo {
        width: 100%;
        padding: 10px;
    }

    #add.button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }

    #todo-input {
        font-size: 4vw;
    }
}

.edit-button {
    padding: 3px;
    margin-right: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit-button svg {
    transition: 200ms;
}

.edit-button:hover svg {
    fill: #f0b709;
}

.edit-input {
    margin: 15px;
    padding-left: 6px;
    font-size: 16pt;
    height: 34px;
    padding-right: 0;
    flex-grow: 1;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
}

.edit-input:focus {
    outline: none;
}

.add-edit {
    top: 0;
    right: 0;
    background: linear-gradient(to left, red, orange);
    height: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}


.edit-input:focus {
    outline: none;
}