:root {
    --background: rgb(240, 248, 255);
    --primary: #ffffff;
    --secondary: #4a4d57;
    --accent: #f46e00;
    --text-color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

#todo {
    font-size: 16pt;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#body {
    color: black;
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, rgb(180, 42, 42), orange);
    background-clip: text;
    color: transparent;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#todo-input:focus {
    outline: none;
}

.todo-checkbox:focus {
    outline: none;
}

.delete-button:focus {
    outline: none;
}

form{
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left, red, orange);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
}


.spanny {
    position: absolute;
    height: 12vh;
    width: 12vw;
    background: linear-gradient(to right, rgb(180, 42, 42), orange);
}