.badges-div {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 3em;
}

.badges-title {
  font-size: 1.75em;
  position: absolute;
  top: 0.25em;
  left: 0;
}

.badges {
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}