.calculator, 
.calculator * {
    all: unset;
}
.calculator {
    font-family: 'Inter', sans-serif;
    width: 100%; /* Ajuste para ocupar toda a largura da tela */
    max-width: 350px; /* Largura de um telefone médio */
    height: auto;
    margin: 30px auto;
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    row-gap: 10px;
    align-content: end;
    justify-content: center;
}

.display {
    font-size: 2.5em;
    height: 100px;
    width: 295px;
    padding-right: 15px;
    padding-top: 30px;
    background-color: black;
    grid-column: span 4;
    text-align: end;
    border-radius: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    justify-content: center;
}

.btnc {
    font-size: 1.8em;
    height: 70px;
    width: 70px;
    border-radius: 50%; /* Botões arredondados */
    text-align: center;
}




.btn-operation, .btn-tops, .btn-number, .btn-dot {
    border-radius: 50%; /* Aplicando o arredondamento */
}
.btn-zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 35px;
}

@media (max-width: 600px) {
    .calculator {
        height: 500px;
        max-width: 300px;
        padding: 15px;
    }

    .display {
        font-size: 2.5em;
        height: 80px;
        width: 295px;
        padding-right: 15px;
        padding-top: 30px;
    }

    .btnc {
        font-size: 1.6em;
        height: 70px;
        width: 70px;
    }

    .btn-zero {
        width: 100%;
        border-radius: 35px;
    }
}

@media (min-width: 1024px) {
    .calculator {
        width: 350px;
    }

    .display {
        font-size: 3em;
        width: 335px;
        height: 80px;
        padding-right: 15px;
        padding-top: 30px;
    }

    .btnc {
        font-size: 2em;
        height: 80px;
        width: 80px;
    }

    .btn-zero {
        border-radius: 40px;
    }
}

.btn-zero {
    grid-column: span 2;
    width: 100%;
}

.btn-dot {
    background-color: rgb(69, 69, 69);
}
.btn-dot:active {
    background-color: rgb(120, 120, 120);
}
.btn-number {
    background-color: rgb(69, 69, 69);
}
.btn-number:active {
    background-color: rgb(120, 120, 120);
}

.btn-tops {
    color: black;
    font-size: 1.5em;
    font-weight: 1000;
    background-color: rgb(169, 169, 169);
}
.btn-tops:active {
    background-color: rgb(213, 213, 213);
}

.btn-operation {
    font-size: 2.4em;
    font-weight: 500;
    background-color: rgb(255, 149, 0);
}
.btn-operation:active {
    background-color: rgb(255, 178, 70);
}
.btn-operator-selected {
    background-color: white;
    font-size: 2.4em;
    font-weight: 500;
    color: rgb(255, 149, 0);
}
.btn-operator-selected:active {
    background-color: rgb(255, 197, 115);
}

.calc-link {
    color: rgb(255, 149, 0);
    text-decoration: none;
}

.calc-link:hover {
    text-decoration: underline;
}